<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>

    <div id="menu">
      <span class="el_menu"><a href="/">Home</a></span>
      <span class="el_menu"><a href="#">About</a></span>
    </div>

    <div class = 'header'>
      <h1>About me</h1>
    </div>
    
    <div class='about'>
      <b>Mastermind or Master Mind</b> is a code-breaking game for two players. The modern game with pegs was invented in 1970 by Mordecai Meirowitz, an Israeli postmaster and telecommunications expert. It resembles an earlier pencil and paper game called Bulls and Cows that may date back a century or more.<br />
    </div>

    <div class='images'>
     <br /><p><a href='https://github.com/henio180' ><img src='/images/github.png' alt='github' width='20%'></a></p>
    </div>

    <div class='stopka'>
      <p>Copyright &copy; by <a href="mailto:d.sienkiewicz@interia.eu">Henio</a> | <a href='http://project-midas.com'>MiDaS Project</a></p>
    </div>

  </body>
</html>