<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>

    <div id="menu">
      <span class="el_menu"><a href="/"> Home </a></span>
      <span class="again"> Play Again </span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/about"> About </a></span>
    </div>

    <div id="menu1">
      <span class="el_menu"><a href="/"> Home </a></span>
      <span class="el_menu"><a href="/"> Play Again </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/"> Button </a></span>
      <span class="el_menu"><a href="/about"> About </a></span>
    </div>

    <div class = 'header'>
      <h1>Welcome to <%= title %></h1>
    </div>
    
    <div class='container'>
    <div id='config'>
      <h2>Insert your data</h2>
      Size: <input type='text' id = 'size'><br />
      Dim: <input type='text' id = 'dim'><br />
      Max: <input type='text' id = 'max'><br />
      
      <div id='play'>
        <button>Play</button>
      </div>
    </div>

    <div id = 'pola'>
      <h2>Guess my numbers</h2>
    </div>

    <div id='sent'>
      <button id='check'>Check</button>
      <button class='again'>Play Again</button>
    </div>

    <div class='info'>
    </div>

    <div class='images'>
      <p><a href='https://github.com/henio180' ><img src='/images/github.png' alt='github' width='25%'></a></p>
    </div>

  </div>

  <div id='messages'>
  </div>

    <div class='stopka'>
      <p>Copyright &copy; by <a href="mailto:d.sienkiewicz@interia.eu">Henio</a> | <a href='http://project-midas.com'>MiDaS Project</a></p>
    </div>

  </body>
</html>